services:
  viaje_mysql:
    container_name: ContenedorGestorViaje
    image: mysql:8.3.0
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=MicroGestorViajeDB
      - MYSQL_USERNAME=root
    ports:
      - "3308:3306"



