version: '3.8'

services:
  mysql:
    container_name: ContenedorGestorViaje
    image: mysql:8.3.0
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=MicroGestorViajeDB
    ports:
      - "3307:3308"
